# REII 211 – Python On-Ramp Notebook

This notebook introduces the absolute basics of Python needed for this module.

You will:
- Run example code
- Complete short exercises
- Learn how Python displays output

You are not expected to **fill in the exercise cells**.
You are expected to **have working code for the problem questions**

# Extercise Problems

## Variable Handeling

### 1. Printing text

The `print()` function is used to display output.

Run the example below and observe the output.

In [ ]:
print("Hello, world!")

#### Exercise 1

Write a program that prints:
- Your **name**
- Your **student number**

Expected output format (example):

```
Name: YOUR_NAME_HERE
Student Number: YOUR_STUDENT_NUMBER_HERE
```

In [ ]:
# Write your code here

### 2. Variables and integers

A variable stores a value.
In Python, you do not need to specify a type.

Run the example below.

In [ ]:
my_int = 5
print(my_int)

#### Exercise 2

Create a variable called `age` and assign it your age.
Print the value.

In [ ]:
# Write your code here

### 3. Printing text and variables together

You can combine text and variables in `print()`.

Run the example below.

In [ ]:
my_int = 5
print("MyInt:", my_int)

#### Exercise 3

Create a variable called `student_number` and print it in the format:

```
Student number: 12345678
```

### 4. Floating-point numbers

Floating-point numbers (floats) are numbers with decimals.

Run the example below.

In [ ]:
voltage = 3.3
print("Voltage:", voltage)

#### Exercise 4

Create two variables:
- `length` (a float)
- `width` (a float)

Print both values.

Expected output format (example):

```
Length: 2.5
Width: 1.2

```

In [ ]:
# Write your code here

## Data structures and arrays

### 5. Arrays (lists)

In Python, an array is usually represented by a **list**.

Run the example below.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

#### Exercise 5

Create a list called `marks` containing five integer values.
Print the list.

Expected output (example):

In [ ]:
# Write your code here

### 6. Accessing list elements

Python uses **zero-based indexing**.
This means the first element has index `0`.

Run the example below.

In [ ]:
numbers = [10, 20, 30, 40]
print(numbers[0])
print(numbers[2])

#### Exercise 6

Using the list `marks` from before:
- Print the **first** element
- Print the **last** element

Expected output (example):

```
65
91
```

In [ ]:
# Write your code here

### 7. Modifying list values

You can change values in a list using indexes.

Run the example below.

In [ ]:
numbers = [1, 2, 3]
numbers[1] = 99
print(numbers)

#### Exercise 7

Change the **second value** in your `marks` list to a new value.
Print the updated list.

Expected output format (example):

```
[65, 75, 80, 58, 91]
```

In [ ]:
# Write your code here

### 8. Swapping values in a list

Sometimes you need to swap two values in an array (list).
This is a common operation in many algorithms.

In this example, we swap the values at index `0` and index `1`.

Run the example below.

In [ ]:
values = [10, 20, 30]

# Swap index 0 and index 1
temp = values[0]
values[0] = values[1]
values[1] = temp

print(values)

#### Exercise 8

Create a list called `numbers` with at least three values.

Swap the values at index `0` and index `1`.
Print the updated list.

Expected output format (example):

```
[20, 10, 30]

```

In [ ]:
# Write your code here

## Conditional code

### 9. If statements

An `if` statement allows your program to make decisions.
Note in python a "tab" indentation is used to show what forms part of the conditional code

Run the example below.

In [ ]:
value = 10

if value > 5:
    print("Value is greater than 5")

#### Exercise 9

Create a variable called `mark`.

If the mark is **50 or more**, print:

```
Pass
```

In [ ]:
# Write your code here

### 10. If–else statements

Use `else` to define what happens when the condition is false.

Run the example below.

In [ ]:
mark = 45

if mark >= 50:
    print("Pass")
else:
    print("Fail")

#### Exercise 10

Create a variable called `temperature`.

If the temperature is greater than 30, print:

```
Hot
```


Otherwise, print:


```
Normal

```

In [ ]:
# Write your code here

## Loops

### 11. For loops

A `for` loop repeats code a fixed number of times.

Run the example below.

In [ ]:
for i in range(5):
    print(i)

#### Exercise 11

Use a `for` loop to print the numbers from 1 to 5.

Expected output:
```
1
2
3
4
5
```

In [ ]:
# Write your code here

### 12. For loops with lists

You can loop through all elements in a list.

Run the example below.

In [ ]:
marks = [65, 72, 80]

for mark in marks:
    print(mark)

#### Exercise 12

Create a list called `numbers`.

Use a `for` loop to print each number multiplied by 2.

Expected output (example):
2
4
6
8

### 13. While loops

A `while` loop repeats while a condition is true.

Run the example below.

In [ ]:
count = 0

while count < 3:
    print(count)
    count = count + 1

#### Exercise 13

Use a `while` loop to print numbers from 1 to 3.

Expected output:
```
1
2
3
```

In [ ]:
# Write your code here

### 14. Nested structures

You can place loops and `if` statements inside each other.

Run the example below.

In [ ]:
numbers = [1, 2, 3, 4]

for n in numbers:
    if n % 2 == 0:
        print(n, "is even")

#### Exercise 14

Using a list of numbers:
- Print only the numbers greater than 5

Expected output (example):

```
6
8
10

```

In [ ]:
# Write your code here

### 15. Nested loops

A loop can exist inside another loop.

Run the example below.

In [ ]:
for i in range(1, 4):
    for j in range(1, 3):
        print(i, j)

#### Exercise 15

Use nested loops to print the following pattern:

```
1 1
1 4
1 9
2 1
2 4
2 9
```

In [ ]:
# Write your code here

---

# Problem questions


## Problem 1 – Sum of numbers

Write a program that calculates the sum of the numbers from 1 to 10.

Expected output:
```
55
```


You must use a loop.

In [ ]:
# Write your code here

## Problem 2 – Maximum value in a list

Given a list of integers, find the largest value.

You may not use any built-in max functions.

Example list:
```
[3, 7, 2, 9, 4]
```

Expected output:
```
9
```

In [ ]:
# Write your code here

## Problem 3 – Counting even numbers

Given a list of integers, count how many numbers are even.

Example list:
```
[1, 4, 6, 7, 10]
```


Expected output:


```
3
```

In [ ]:
# Write your code here

## Problem 4 – Fibonacci sequence

The Fibonacci sequence is defined as:

- The first two values are 0 and 1
- Each new value is the sum of the previous two values

Write a program that prints the first 15 Fibonacci numbers.

In [ ]:
# Write your code here

## Problem 5 – Reverse a list

Given a list of values, print the list in reverse order.

You may not use any built-in reverse functions.

Example list:
```
[1, 2, 3, 4]
```

Expected output:

```
[4, 3, 2, 1]
```

## Problem 6 – Simple search

Given a list of integers and a target value:
- Print `Found` if the value exists in the list
- Print `Not found` otherwise

Example list:
```
[5, 8, 12, 3]
```


Target value:

```
12
```

Expected output:

```
Found
```

---